<div class="box">
  <div class="box-inner">
    <h2>管理者ログイン</h2>
    <%= form_with model: @admin, url: session_path(resource_name), local: true do |f| %>
      <div class="box-email">
        <strong>メールアドレス</strong><br>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", style: "width:71%" %>
      </div>
      <div class="box-password">
        <strong>パスワード</strong><br>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
      <div class="box-log-in">
        <%= f.submit "ログイン"%>
      </div>
    <% end %>
  </div>
</div>

<style>
.box {
  width: 500px;
  height: 300px;
  margin: 60px auto 0;
  border-radius: 4px;
  border: 5px #00BFFF solid;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.box-inner {
  padding: 10px 10px;
}

h2 {
  font-weight: 400;
  font-size: 30px;
  line-hight: 1.2;
  margin: 20px;
  padding: 10px;
  color: #111111;
  background-color: #AFEEEE;
}

.box-email {
  margin: 10px;
}

.box-password {
  margin: 10px;
}

.box-log-in {
  margin: 20px;
}

.box-log-in input[type="submit"] {
  border-style: none;
  width: 100%;
  height: 31px;
  background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
  border-radius: 3px;
  border: 1px #a88734 solid;
}

.box-log-in input[type="submit"]:hover {
  cursor: pointer;
  background: #f0c14b;
}
</style>