<div class="container py-5">
  <% if @model == 'company' %>
    <h3>検索結果"<%= @content %>"</h3>
    <%= render 'admin/searches/companies', companies: @records %>
  <% elsif @model == 'member' %>
    <h3>検索結果"<%= @content %>" - 会員名</h3>
    <%= render 'admin/searches/members', members: @records %>
  <% end %>
</div>

<style>
.container {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
</style>