<div class="container">
  <h2>コメント一覧</h2>

  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th></th>
        <th>コメント</th>
        <th>コメント件数：<%= @company.comments.count %></th>
      </tr>
    </thead>
    <% @company.comments.each do |comment| %>
    <tbody>
      <tr>
        <td></td>
        <td><%= @comment.company_id %></td>
        <td></td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>