<div class="container">
  <h2>コメント投稿</h2>
  <% form_with model: @comment do |f| %>
    <div class="row p-3 form-label">
      <div class="col-sm-2"><%= f.label:コメント入力 %></div>
      <div class="col-md-5"><%= f.text_area :comment, class: "form-control", style: "width:100%", rows: "3" %></div>
    </div>
    <div class="row p-3">
      <%= f.submit "投稿", class:"btn btn-sm btn-primary"%>
    </div>
  <% end %>
</div>