<% if comment.favorited_by?(current_member) %>
  <p>
    <%= link_to comment_favorites_path(comment), method: :delete, remote: true, data: {"turbolinks" => false} do %>
      ★<%= comment.favorites.count %>いいね
    <% end %>
  </p>
<% else %>
  <p>
    <%= link_to comment_favorites_path(comment), method: :post, remote: true, data: {"turbolinks" => false} do %>
      ☆<%= comment.favorites.count %> いいね
    <% end %>
  </p>
<% end %>