<div class="background-image">
  <div class="container py-5">
    <h3>登録について</h3>
    <div class="row pl-3">
      <p><strong>[1]会員登録へ進む</strong></p>
      <div class="offset-md-1"></div>
      <div class="col-md-4"></div>
      <div class="offset-md-1"></div>
      <div class="col-md-4"><入力事項></div>
    </div>
    <div class="row pl-3">
      <p><strong>[2]会員登録へ進む</strong></p>
      <div class="offset-md-1"></div>
      <div class="col-md-4">
        <span><%= image_tag 'regi.jpg', size: "400x400" %></span>
      </div>
      <div class="offset-md-1"></div>
      <div class="col-md-4">
        <span>
          [1] 名前を入力してください。<br>
          (姓と名の間にスペースを入れても、入れなくてもどちらでも大丈夫です。）<br>
          <br>
          [2] メールアドレスを入力してください。<br>
          (ログイン時に使用します。)<br>
          <br>
          [3] パスワードを入力してください<br>
          (ログイン時に使用します。)<br>
          <br>
          [4] [3]で設定したパスワードを再入力してください。<br>
          <br>
          [5] 新規登録ボタンを押してください。<br>
          (次の画面で企業登録を行っていただきます。)
        </span>
      </div>
    </div>
    <div class="row pl-3">
      <p><strong>[3]企業登録へ進む</strong></p>
      <div class="offset-md-1"></div>
      <div class="col-md-4">
        <span><%= image_tag 'com_regi.jpg', size: "400x400" %></span>
      </div>
      <div class="offset-md-1"></div>
      <div class="col-md-4">
        <span>
          [6] 企業名を入力してください。<br>
          <br>
          [7] 業種を選択してください。<br>
          <br>
          [8] 郵便番号を入力してください<br>
          <br>
          [9] 住所を入力してください。<br>
          <br>
          [10] 電話番号を入力してください。<br>
          <br>
          [11] 新規登録ボタンを押してください。<br>
        </span>
      </div>
    </div>
  </div>
</div>


<style>
  .background-image {
    background-image: image-url('background-image.jpg');
  }

  h3 {
    background-color: #FFF8DC;
  }
</style>