<div class="container">
  <div class="row">
    <div class="col">
      <table class="table table-borderless">
        <thead>
          <th>新着登録企業</th>
          <th></th>
          <th></th>
        </thead>
        <% @companies.each do |company| %>
          <tbody>
            <td>
              <% if company.image.attached? %>
                <%= image_tag company.image, size: "200x200" %>
              <% else %>
                <%= image_tag 'company_free', size: "200x200" %>
              <% end %>
            </td>
            <td><%= link_to company.company, company_path(company) %></td>
            <td><%= company.genre %></td>
          </tbody>
        <% end %>
      </table>
    </div>

    <div class="col">
      <div class="row">
        <table>
          <th>新着お知らせ</th>
          <% @announcements.each do |announcement| %>
            <td><更新日付></td>
            <td><お知らせ></td>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>