<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <th>新着登録企業</th>
          <th></th>
          <th></th>
        </thead>
        <% @companies.each do |company| %>
          <tbody>
            <td><企業写真入れる></td>
            <td><企業名></td>
            <td><業種></td>
          </tbody>
        <% end %>
      </table>
    </div>

    <div class="col">
      <div class="row">
        <table>
          <th>新着お知らせ</th>
          <% @announcements.each do |announcement| %>
            <td><更新日付></td>
            <td><お知らせ></td>
          <% end %>
        </table>
      </div>

      <div class="row">
        <企業検索機能＞
      </div>
    </div>
  </div>
</div>