h3 {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.thead-info th {
  background-color: #191970;
  color: white;
}

.thead-info2 th {
  background-color: #191970;
  color: white;
  margin-top: 20px;
}

.box-action {
  border-style: none;
  height: 31px;
}