<div class="container py-5">
  <h2>新着通知</h2>
  <% notifications = @notifications.where.not(visitor_id: current_member.id) %>
  <% if notifications.exists? %>
    <% notifications.each do |notification| %>
      <%= render 'notification', notification: notification %>
    <% end %>
  <% else %>
    <p>新着の通知はありません</p>
  <% end %>
</div>