<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <% if admin_signed_in? %>
      <!--ここではLOGOマークを文字で代用することにした-->
        <%= link_to "Bussiness Partners", root_path %>
      <% else %>
        <%= link_to "Bussiness Partners", root_path %>
      <% end %>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto" >
          <% if member_signed_in? %>
            <li class="member-name text-light">
            ようこそ、<%= current_member.first_name %><%= current_member.last_name %>さん！
           </li>
          <!--link_toにすることでmethodがgetになる（button_toだとpostになる）-->
            <li class="nav-item mr-3">
              <a class="nav-link" href="members_path(current_member)" >マイページ</a>
            </li>
            <li class="nav-item mr-3">
              <a class="nav-link" href="companies_path" >企業一覧</a>
            </li>
            <li class="nav-item mr-3">
              <a class="nav-link" href="destroy_member_session_path" >ログアウト</a>
            </li>
          <% elsif admin_signed_in? %>
            <li class="nav-item mr-3">
              <a class="nav-link" href="admin_companies_path" >企業一覧</a>
            </li>
            <li class="nav-item mr-3">
              <a class="nav-link" href="admin_members_path" >会員一覧</a>
            </li>
            <li class="nav-item mr-3">
              <a class="nav-link" href="admin_genres_path" >業種一覧</a>
            </li>
            <li class="nav-item mr-3">
              <a class="nav-link" href="admin_comments_path" >お知らせ投稿</a>
            <li class="nav-item mr-3">
              <a class="nav-link" href="new_member_registration_path" >会員登録</a>
            </li>
            <li class="nav-item mr-3">
              <a class="nav-link" href="destroy_admin_session_path" >ログアウト</a>
            </li>
          <% else %>
            <li class="nav-item mr-3">
              <a class="nav-item" href="about_path" >登録方法</a>
            </li>
            <li class="nav-item mr-3">
              <a class="nav-item" href="companies_path" >企業一覧</a>
            </li>
            <li class="nav-item mr-3">
              <a class="nav-item" href="new_member_registration_path" >会員登録</a>
            </li>
            <li class="nav-item">
              <a class="nav-item" href="new_member_session_path" >ログイン</a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>